/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
.Board {
  display: inline-block;
  height: 50%;
  width: 50%;
}
.card {
   height: 200px;
   width: 150px;
   border: 1px black solid;
   border-radius: 10px;
   background: yellow;
   float: left;
   margin: 8%;
 }

h1 {
      color: rgb(2, 132, 130);
      text-align: center;
    }

 h2{
      color: #ffd700;
      text-align: center;
    }

footer{
      text-align: center;
      background-color: #808080;
    }

span{
  color: #ff0000;
}

nav{
  background-color: #808080;
}

a {
  background-color: #ffbf00;
  color: #ffffff;
  padding: 35px;
  display: block;
  float: left;
}

a:hover {
  background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
